@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

body {
  font-family: 'Rubik Moonrocks', cursive;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #61c356;
  color: #fff;
}