@import url(https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap);
body {
  font-family: 'Rubik Moonrocks', cursive;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #61c356;
  color: #6C5042;
}
.App {
    max-width: 860px;
    margin: 40px auto;
  }
  button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  button:hover {
    background: #fedd00;
    color: #fff;
  }

  .grid-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
.carta {
    position: relative;
}

.carta img {
    width: 100%;
    display: block;
    border: 5px solid #966F33;
    border-radius: 8px;
}

.carta .frente {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.volteado .frente{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.carta .parteTrasera {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.volteado .parteTrasera {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
